<%- include("header") -%> 

    <div class="box" id="heading">
        <h1><%= listHeading %></h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(listItem){ %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value=<%= listItem._id %> onchange="this.form.submit()">
                <p><%= listItem.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listHeading %>" ></input>
        </form>
        <% }) %> 
        
            
        <form class="item" action="/" method="post">
        
            <input type="text" name="newItem" autofocus autocomplete="off">
            <button type="submit" name="list" value="<%= listHeading %>" >+</button>
        </form>
    </div>

<%- include("footer") -%> 